@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand Regular";
  src: url("/Quicksand/Quicksand-Regular.ttf") format("opentype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand Bold";
  src: url("/Quicksand/Quicksand-Bold.ttf") format("opentype");
  font-weight: 900;
  font-display: swap;
}

/* Root Config */
html,
body {
  /* overscroll-behavior: none; */
  background-color: #000;
  overflow-x: hidden;
}
